<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
  <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="template.xhtml">
      
  <ui:define name="browserTitle">
           #{msg['page.title.createbook']}
  </ui:define>

  <ui:define name="pageTitle">
           #{msg['page.title.createbook']}
  </ui:define>
    
    <ui:define name="head">
      <h:outputScript name="defaultBooks.js"/>
    </ui:define>
  
  <ui:define name="content">
    
      <h:form id="bookForm">
      <h:panelGrid columns="2">
        #{msg['book.label.title']}:
        <h:inputText id="title" label="title" value="#{bookController.book.title}" required="true" immediate="true" />
        
        #{msg['book.label.publisher']}: 
        <h:inputText id="publisher" label="publisher" value="#{bookController.book.publisher}" required="true" />
        
        #{msg['book.label.isbn']}:   
        <h:inputText id="isbn" label="isbn" value="#{bookController.book.isbn}" required="true" />
        
        #{msg['book.label.author']}:
        <h:inputText id="author" label="author" value="#{bookController.book.author}" required="true"/>
        
        #{msg['book.label.date']}: 
        <h:inputText id="date" label="date" value="#{bookController.book.date}" required="true">
<!--          <f:convertDateTime pattern="dd.MM.yyyy" />-->
        </h:inputText>
        
      </h:panelGrid>
      
      <h:button value="1" onclick="return fillForm1()" /> 
      <h:button value="2" onclick="return fillForm2()" /> 
      <h:button value="3" onclick="return fillForm3()" /> 
      <h:button value="4" onclick="return fillForm4()" /> 
         
      <h:commandButton value="#{msg['button.save']}" action="#{bookController.save}" /> 
    </h:form>
   
  </ui:define>
  
  </ui:composition>


