<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

  <ui:composition 
    template="template.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
  <ui:define name="browserTitle">
             #{msg['bookList.title']}
  </ui:define>

  <ui:define name="pageTitle">
             #{msg['bookList.title']}
  </ui:define>
  
  <ui:define name="content">
    
    <c:set var="booklist" value="${bookController.bookList}" />
    
    <ui:fragment rendered="#{ empty booklist}">
             #{msg['bookList.message.emptyList']}
    </ui:fragment>
    
    <ui:fragment rendered="#{ not empty booklist}">

    <h:dataTable value="#{bookController.bookList}" var="book" >
      <h:column>
        <f:facet name="header"> #{msg['book.label.author']}</f:facet>
        #{book.author}
      </h:column>
        
      <h:column>
        <f:facet name="header">#{msg['book.label.title']}</f:facet>
        #{book.title}
      </h:column>
      
         
      <h:column>
        <f:facet name="header">#{msg['book.label.publisher']}</f:facet>
        #{book.publisher}
      </h:column>
        
      <h:column>
        <f:facet name="header">#{msg['book.label.isbn']}</f:facet>
        #{book.isbn}
      </h:column>
      
      <h:column>
        <f:facet name="header">#{msg['book.label.date']}</f:facet>
        #{book.date}
      </h:column>
           
      <h:column>
        <h:commandLink value="#{msg['button.delete']}" action="#{bookController.deleteBook()}"/>
      </h:column>
      
    </h:dataTable>
      
   </ui:fragment>
  </ui:define>
  
  </ui:composition>
