<ui:composition 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <div id="navigation">
    <h:link value="#{msg['header.link.home']}"      outcome="index"/>      |
    <h:link value="#{msg['header.link.addbook']}"   outcome="bookCreate"/> |
    <h:link value="#{msg['header.link.booklist']}"  outcome="bookList"/> 
  </div>
</ui:composition>
