<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


  <ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    template="template.xhtml">
    
    <ui:define name="browserTitle">
      #{msg['header.link.home']}
    </ui:define>
    
    <ui:define name="pageTitle">
      #{msg['header.link.home']}
    </ui:define>
    
    <ui:define name="content">
      
    </ui:define>    
    
  </ui:composition>
 