<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <!--       
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:jsf="http://xmlns.jcp.org/jsf" 
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough" 
  -->

  <h:head>
        <title>
          <ui:insert name="browserTitle">
            Browser Title
          </ui:insert>
        </title>
    <h:outputStylesheet name="/main.css"/>
  </h:head>

  <h:body>
    <!-- ################################ header.xhtml ################################ -->
    <ui:include src="/header.xhtml" />
    <!-- ############################################################################## -->
    <h1>
      <ui:insert name="pageTitle">
        Page Title
      </ui:insert>
    </h1>

    <ui:insert name="content">
      Page Content
    </ui:insert>
    <!-- ################################ footer.xhtml ################################ -->
    <ui:include src="/footer.xhtml" />
    <!-- ############################################################################## -->

  </h:body>
</html>

