body {
  margin: 0;
  font: 1.25em Calibri, sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

body > * {
  padding: 0.5em;
  padding-left: calc((100% - 30em) / 2);
  padding-right: calc((100% - 30em) / 2);
}

/* ############################################*/
/* ##                Logging                 ##*/
/* ############################################*/
logging {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background: seagreen;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  flex-direction: column;
}
/*
#successList {
  height: 16px;
  color:green;
  font-family:consolas;
}
#errorList {
  height: 16px;
  color:red;
  font-family:consolas;
}*/
/* ############################################*/
/* ##                Header                  ##*/
/* ############################################*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: seagreen;
}


/* ########## logo       ##########*/

header div {
  float: left;

  /*		width: 15em; padding: 0;	background: #fffbf0;
    border-color: #e7c157;*/

}

header div ul {
  padding: 0;
}

header div li {
  list-style: none;
  padding: 0;
}


header div li:not(:last-child) {
  margin-bottom: -10px;
}

header div a {
  display: block;
  /*padding: 0.2em 10px;*/
  font-weight: bold;
  text-decoration: none;
  color: white;
}

#logo {
  width: 3.5em;
  margin: 0 0 0 0;
  padding: 0.2em;
  background: white;
  border: 1px solid #ddd;
  /*SELF-red */
}

#logo:focus, 
#logo:hover {
  border: 1px solid red;
}
/*
#logo use {
  fill: hsl(0, 0%, 30%);
}
*/

#cccc {
  font: 0.5em Calibri, sans-serif;
  width: auto;
  margin: 0 0 0 0;
  padding: 0;
  background: none;
}

#cccc:focus, 
#cccc:hover {
  border: 1px solid red;
}
/* ########## navigation menue     ##########*/
header nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

header nav a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: white;
}

header nav a:focus,
header nav a:hover {
  color: white;
  border: 1px solid #ddd;
}

/* ########## locale menue     ##########*/
#locale ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#locale a {
  padding: 0.25em 0.5em;
  text-decoration: none;
  font-size: xx-small;  
  color: white;
}

#locale a:focus,
#locale a:hover {
  color: white;
  border: 1px solid #ddd;
}

/* ############################################*/
/* ##                 Main                   ##*/
/* ############################################*/
main {
/*  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Golden_Gate_Bridge_and_San_Francisco_skyline_from_Hawk_Hill_at_Blue_Hour_dllu.jpg/1280px-Golden_Gate_Bridge_and_San_Francisco_skyline_from_Hawk_Hill_at_Blue_Hour_dllu.jpg);
  background-size: cover;*/
  /*background-color: #fdfcf3;*/
  min-height: 10em;
  flex: 1;
  /*color: #dfac20;*/
}

fieldset {
  /*      top right bottom left */
  margin: 30px;
  padding: 20px;
  padding-right: 100px;
  border: 1px solid lightgray;
  border-radius: 8px;
  box-shadow: 0 0 10px #666;
  width: fit-content;
  background-color: aliceblue;
  /*background-color: #fffde1;*/
}

legend {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 2px 10px;
  background: #fff;
/*  background-color: aliceblue;*/
}


/* ############################################*/
/* ##                Footer                  ##*/
/* ############################################*/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: seagreen;
}
