main .ui-menu .ui-tieredmenu,
.ui-menu .ui-tieredmenu .ui-widget .ui-widget-content .ui-corner-all .ui-helper-clearfix {
  margin: 0;
  font: .25em Calibri, sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}
