<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main_template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
  
  <ui:define name="browserTitle">#{msg['home.testTitle']}</ui:define>
  
  <ui:define name="content">
    <h1>#{msg['home.testTitle']}</h1>
    
    <h:form>
      <h:panelGrid columns="1">
        <h:commandButton value="Test1" action="#{testController.test1}" /> 
        <h:commandButton value="Test2" action="#{testController.test2}" /> 
        <h:commandButton value="Test3" action="#{testController.test3}" /> 
      </h:panelGrid>
      
    </h:form>
    
  </ui:define>
  
</ui:composition>
