<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
  <h:head>
    <a href="index.jsp">Home</a> | 
    <a href="createBook.xhtml">Add book</a> |
    <a href="MC?todo=bookList">Book list</a> <title>Add new book</title>
  </h:head>
  <h:body>
    <h1>Add a new book</h1>
    
    <h:form>
      <h:panelGrid columns="2">
        <h:outputLabel for="book"    value="#{book.title}" />
        <h:inputText   id="book"     value="#{book.title}"      />
        <h:inputText   id="book"     value="#{book.publisher}"      />
        <h:inputText   id="book"     value="#{book.isbn}"      />
        <h:inputText   id="book"     value="#{book.author}"      />
        <h:inputText   id="book"     value="#{book.date}"      />
        <h:commandButton value="Abschicken" action="#{book.save}"    />
      </h:panelGrid>
      
     <!--   <h:messages infoStyle="color: green" errorStyle="color: red" /> -->
    </h:form>
  </h:body>
</html>

