<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view locale="#{localeSwitcher.locale}" contentType="text/html;charset=UTF-8"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        
        >
  <html>
    <h:head>
          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      
      <h:outputStylesheet name="css/main.css" />
      <ui:insert name="styles"></ui:insert> 

      <title>
        <ui:insert name="browserTitle">
          <ui:insert name="pageTitle">Test</ui:insert>
        </ui:insert>
      </title>
      <ui:insert name="head"></ui:insert> 
    </h:head>

    <h:body>
      <logging>
        <ui:insert name="log">
          <ui:include src="../jsfLog.xhtml"/>
        </ui:insert>
      </logging>
      
      <header>
        <ui:insert name="header">
          <ui:include src="../header.xhtml"/>
        </ui:insert>
              
      </header>
      
      <main>
        <ui:insert name="menue">
           <ui:include src="../menue_2.xhtml"/>
        </ui:insert>
        <ui:insert name="pageContent">
          <p> Page content </p>
        </ui:insert>
      </main>
      
      <footer>
        <ui:insert name="footer">
          <ui:include src="../footer.xhtml"/>
        </ui:insert>
      </footer>
    </h:body>
  </html>
</f:view>
