/* 
    Created on : 25.11.2015, 09:56:29
    Author     : Salah Lejmi <info@jexp.org>
*/
#navigation {
    padding: 10px 0px;
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}  

#navigation a {
  /*color:brown;*/
  font-family: Verdana;
  text-decoration: none;
  padding: 5px;
  /*color: brown;*/
  /*font-weight: bold;*/
}
#navigation a:hover {
  background-color: black;
  color: white;
  /*font-size: xx-large;*/
}
body {
  font-family: consolas; 
  padding: 40px 15px;
  line-height: 20px;
}

td, th {
  padding: 10px;
}

.bookImage {
  width: 250px;
}

input[type=button] {
  margin-right: 3px;
}

