<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"  >
    <body>
      <ui:composition>
  <h:panelGroup rendered="#{not empty facesContext.messageList}">
    <div style="height: 30px"/>    
    <hr/>
    <h:messages infoStyle="color:green;font-family:consolas" 
                errorStyle="color:red;font-family:consolas" />
  </h:panelGroup>
</ui:composition>
    </body>
</html>


