<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"   
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

  <head></head>

  <body>
    <ui:composition >
      <div>
        <ul>
          <li>
            <h:outputLink value="#{lbl['page.header.link.charite']}"
                          title="#{lbl['page.header.link.charite']}">
              <h:graphicImage id="logo"
                              value="/resources/images/Logo_Charite.svg" 
                              alt="#{lbl['page.header.link.charite.alt']}"/>
            </h:outputLink>
          </li>
          <li>
            <h:outputLink value="#{lbl['page.header.link.4c']}"
                          title="#{lbl['page.header.link.4c']}">
              <h:outputText id="cccc"
                            value="Charité Comprehensive Cancer Center" />
            </h:outputLink>
          </li>
        </ul>
      </div>

      <nav>
        <ul>
          <li>
            <h:link value="#{lbl['page.home.title']}"   outcome="index" /> 
          </li>
        </ul>
      </nav>

      <h:form id="locale">      
        <ul>
          <li>
            <h:commandLink value="Deutsch" action="#{localeSwitcher.switchLocale('de')}" /> 
          </li>
          <li>
            <h:commandLink value="English" action="#{localeSwitcher.switchLocale('en')}" />
          </li>
        </ul>
      </h:form>

    </ui:composition>
  </body>
</html>


