<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml"   
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" 
      xmlns:p="http://primefaces.org/ui">

  <body>
    <ui:composition >
      <c:set var="successList" value="#{viewLogger.successMessages}" />
      <c:set var="errorList" value="#{viewLogger.errorMessages}" />

      <div id="success">
        <c:forEach items="#{successList}" var="message" rendered="#{not empty successList}">
          <p:staticMessage severity="info" summary="INFO!" detail="#{message}" />
        </c:forEach>
      </div>    

      <div id="error">
        <c:forEach items="#{errorList}" var="message" rendered="#{not empty errorList}">
          <p:staticMessage severity="error" summary="INFO!" detail="#{message}"/>
        </c:forEach>
      </div>    
    </ui:composition>

  </body>
</html>