<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"   
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

      <head></head>

  <body>
    <ui:composition >
      
      h:outputStylesheet name="css/menue.css" />
      <h:form>
        <p:growl id="messages" showDetail="true" />

        <p:tieredMenu style="width:200px">
          <p:submenu label="Ajax Menuitems" icon="pi pi-refresh">
            <p:menuitem value="Save" action="#{menuView.save}" update="messages" icon="pi pi-save" />
            <p:menuitem value="Update" action="#{menuView.update}" update="messages" icon="pi pi-refresh" />
          </p:submenu>
          <p:submenu label="Non-Ajax Menuitem" icon="pi pi-clone">
            <p:menuitem value="Delete" action="#{menuView.delete}" update="messages" ajax="false" icon="pi pi-times" />
          </p:submenu>
          <p:separator />
          <p:submenu label="Navigations" icon="pi pi-home">
            <p:menuitem value="#{lbl['menue.createPatient']}" action="patientCreate"/>
            <p:menuitem value="#{lbl['menue.patientList']}" action="patientList"/>
            <p:submenu label="Prime Links">
              <p:menuitem value="Prime" url="http://www.prime.com.tr" title="xxx" />
              <p:menuitem value="PrimeFaces" url="http://www.primefaces.org" />
            </p:submenu>
          </p:submenu>
        </p:tieredMenu>
      </h:form>

    </ui:composition>
  </body>
</html>


