<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"   
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

  <head>
    
    <!--https://wiki.selfhtml.org/wiki/JavaScript/Tutorials/zug%C3%A4ngliche_Dropdown-Navigation-->

  </head>

  <body>

    <ui:composition >

      <!--<h:outputStylesheet name="css/menue_2.css" />-->

      <nav id="sitenav">
        <h2 id="sitenav-label" class="visually-hidden">Site-Navigation</h2>
        <details>
          <summary>Menü</summary>
          <ul>
            <li>
             <h:link value="#{lbl['page.home.title']}"   outcome="index" /> 
            </li>
            <li>
              <details>
                <summary>#{lbl['menue.patient']}</summary>
                <ul>
                  <li><a href="patientCreate.xhtml">#{lbl['menue.createPatient']}</a></li>
                  <li><a href="patientList.xhtml">#{lbl['menue.patientList']}</a></li>
                </ul>
              </details>
            </li>
            <li><a href="">Seite 4</a></li>
          </ul>
        </details>
      </nav>

    </ui:composition>
  </body>
</html>


