<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
  <h:body>

    <ui:composition template="WEB-INF/template.xhtml">
      <ui:define name="head">
        <h:outputStylesheet name="css/main.css"/>
      </ui:define>

      <ui:define name="pageTitle">Autocompletion Test</ui:define>

      <ui:define name="pageContent">
        <h:outputScript name = "js/autocompletion.js" target="body" />
<!--        <fieldset>
          <legend>Test</legend>-->
          <!--Make sure the form has the autocomplete function switched off:-->
          <form autocomplete="off" action="/newjsf.xhtml">
            <div class="autocomplete" style="width:300px;">
              <input id="myInput" type="text" name="myCountry" placeholder="Country"/>
            </div>
            <input type="submit"/>
          </form>
        <!--</fieldset>-->
      </ui:define>
    </ui:composition>
  </h:body>
</html>

