<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:body>

    <ui:composition template="WEB-INF/template.xhtml">

      <ui:define name="pageTitle">#{lbl['page.patientList.title']}</ui:define>

    <ui:define name="pageContent">
       <fieldset>
         <ui:fragment rendered="#{empty patientController.patientList}">
        <legend>#{lbl['page.patientList.noPatientsAvailable']}</legend>
      </ui:fragment>

         <ui:fragment rendered="#{not empty patientController.patientList}">
        <legend>#{lbl['page.patientList.title']}</legend>
        <h:form>
          <h:dataTable value="#{patientController.patientList}" var="patient">
            <h:column>
              <f:facet name="header">#{lbl['page.patientList.label.id']}</f:facet>
              #{patient.id}
            </h:column>
            <h:column>
              <f:facet name="header">#{lbl['page.patientList.label.firstname']}</f:facet>
              #{patient.firstName}
            </h:column>
            <h:column>
              <f:facet name="header">#{lbl['page.patientList.label.lastname']}</f:facet>
              #{patient.lastName}
            </h:column>
            <h:column>
              <h:commandLink value="#{lbl['button.delete']}" action="#{patientController.delete(patient.id)}" />
            </h:column>
          </h:dataTable> 
        </h:form>
      </ui:fragment>
    </fieldset>
  </ui:define>

</ui:composition>
  </h:body>

</html>