<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
  <h:body>

    <ui:composition template="WEB-INF/template.xhtml">
      <ui:define name="head">
        <h:outputScript name = "js/dummyEntries.js" />
      </ui:define>

      <ui:define name="pageTitle">#{lbl['page.patientCreate.title']}</ui:define>

      <ui:define name="pageContent">
        <fieldset>
          <legend>#{lbl['page.patientCreate.legend']}</legend>
          <h:form id="formId">
            <h:panelGrid columns="2">
              #{lbl['page.patientCreate.label.firstname']}:     
              <h:inputText id="firstName"     label="#{lbl['page.patientCreate.label.firstname']}"
                           value="#{patientController.patient.firstName}" required="true"/>

              #{lbl['page.patientCreate.label.lastname']}:     
              <h:inputText id="lastName"     label="#{lbl['page.patientCreate.label.lastname']}"
                           value="#{patientController.patient.lastName}" required="true"/>
            </h:panelGrid>

            <h:button value="Jane Doe" onclick="return fillFormDummyPatient1()" />
            <h:button value="John Doe" onclick="return fillFormDummyPatient2()" />
            <h:commandButton value="#{lbl['button.save']}" action="#{patientController.save()}" />
          </h:form> 
        </fieldset>

      </ui:define>

    </ui:composition>

  </h:body>

</html>

