<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

  <ui:define name="browserTitle">#{msg['book.list.pageTitle']}</ui:define>

  <ui:define name="content">

    <ui:fragment rendered="#{empty bookController.bookList}">
      <h2>#{msg['book.list.noBooksAvailable']}</h2>
    </ui:fragment>

    <ui:fragment rendered="#{not empty bookController.bookList}">
      <h1>#{msg['book.list.pageTitle']}</h1>
      <h:form>
        <h:dataTable value="#{bookController.bookList}" var="book">
          <h:column>
            <f:facet name="header">#{msg['book.title.label']}</f:facet>
              #{book.title}
          </h:column>
          <h:column>
            <f:facet name="header">#{msg['book.publisher.label']}</f:facet>
              #{book.publisher}
          </h:column>
          <h:column>
            <f:facet name="header">#{msg['book.isbn.label']}</f:facet>
              #{book.isbn}
          </h:column>
          <h:column>
            <f:facet name="header">#{msg['book.author.label']}</f:facet>
              #{book.author}
          </h:column>
          <h:column>
            <f:facet name="header">#{msg['book.date.label']}</f:facet>
              #{book.date}
          </h:column>
          <h:column>
            <h:commandLink value="#{msg['book.command.delete']}" action="#{bookController.delete(book.id)}" />
          </h:column>
          <h:column>
            <h:commandLink value="#{msg['book.command.edit']}" action="#{bookController.edit(book.id)}" />
          </h:column>
        </h:dataTable> 
      </h:form>
    </ui:fragment>
  </ui:define>

</ui:composition>
