<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="template.xhtml">

  <ui:define name="browserTitle">Buch aktualisieren</ui:define>
  <ui:define name="head">
    <h:outputScript name = "bookGeneration.js" />
  </ui:define>

  <ui:define name="content">

    <h1>#{msg['book.update.pageTitle']}</h1>

    <h:form id="formId">
      <h:panelGrid columns="2">

        #{msg['book.title.label']}:     
        <h:inputText id="title"     label="#{msg['book.title.label']}"
                     value="#{bookController.book.title}" required="true"/>

        #{msg['book.publisher.label']}: 
        <h:inputText id="publisher" label="#{msg['book.publisher.label']}" 
                     value="#{bookController.book.publisher}" />

        #{msg['book.isbn.label']}:      
        <h:inputText id="isbn"      label="#{msg['book.isbn.label']}"      
                     value="#{bookController.book.isbn}" />

        #{msg['book.author.label']}:    
        <h:inputText id="author"    label="#{msg['book.author.label']}"    
                     value="#{bookController.book.author}" />

        #{msg['book.date.label']}:      
        <h:inputText id="date"      label="#{msg['book.date.label']}"      
                     value="#{bookController.book.date}" />

      </h:panelGrid>
      <h:inputHidden value="#{bookController.book.id}" />

      <h:commandButton value="#{msg['book.update.updateButton']}" action="#{bookController.update}" />
    </h:form> 



  </ui:define>

</ui:composition>
