<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
  template="template.xhtml">

  <ui:define name="browserTitle">
           #{msg['page.title.createbook']}
  </ui:define>

  <ui:define name="pageTitle">
           #{msg['page.updatebook.title']}
  </ui:define>

  <ui:define name="head">
    <h:outputScript name="defaultBooks.js"/>
  </ui:define>

  <ui:define name="content">

    <h:form id="bookForm">
      <h:panelGrid columns="2">
        #{msg['book.label.author']}:
        <h:inputText id="author" label="#{msg['book.label.author']}"
                     value="#{bookController.book.author}" required="true"/>

        #{msg['book.label.title']}:
        <h:inputText id="title" label="#{msg['book.label.title']}"
                     value="#{bookController.book.title}" required="true" />

        #{msg['book.label.publisher']}: 
        <h:inputText id="publisher" label="#{msg['book.label.publisher']}"
                     value="#{bookController.book.publisher}" />

        #{msg['book.label.isbn']}:   
        <h:inputText id="isbn" label="#{msg['book.label.isbn']}"
                     value="#{bookController.book.isbn}"  />

        #{msg['book.label.date']}: 
        <h:inputText id="date" label="#{msg['book.label.date']}"
                     value="#{bookController.book.date}" />

      </h:panelGrid>

      <h:inputHidden value="#{bookController.book.id}" />

      <h:commandButton value="#{msg['button.update']}" action="#{bookController.updateBook}" /> 
    </h:form>

  </ui:define>

</ui:composition>
