<ui:composition 
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <ui:fragment rendered="#{not empty facesContext.messageList}">
    <div style="height: 30px"/>
    <hr/>
    <!-- messages will be displayed here -->
    <h:messages infoStyle="color:green;font-family:consolas" errorStyle="color:red;font-family:consolas" />
  </ui:fragment>


</ui:composition>
