<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://xmlns.jcp.org/jsf/core"
  xmlns:h="http://xmlns.jcp.org/jsf/html"
  xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <h:form>
    <div id="navigation" style="display: inline-block">
      <h:link value="#{msg['header.link.home']}"      outcome="index"/>      |
      <h:link value="#{msg['header.link.addbook']}"   outcome="bookCreate"/> |
      <h:link value="#{msg['header.link.booklist']}"  outcome="bookList"/> 

      <span style="text-align: right;font-size: xx-small;">
        <h:commandButton value="Deutsch" action="#{localeSwitcher.setLanguage('de')}" />
        <h:commandButton value="English" action="#{localeSwitcher.setLanguage('en')}" />
      </span>
    </div>
  </h:form>
</ui:composition>