<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main_template.xhtml">
  
  <ui:define name="browserTitle">#{msg['home.pageTitle']}</ui:define>
  
  <ui:define name="content">
    <h1>#{msg['home.pageTitle']}</h1>
  </ui:define>
  
</ui:composition>
