<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

  <h:form id="formId" onkeypress="return defaultCommand()">
    <h:panelGrid columns="2">
      #{msg['user.firstname.label']}: 
      <h:inputText id="firstname" label="#{msg['user.firstname.label']}" 
                   value="#{userController.user.firstname}" required="true" />
      #{msg['user.lastname.label']}: 
      <h:inputText id="lastname" label="#{msg['user.lastname.label']}" 
                   value="#{userController.user.lastname}" required="true"/>
    </h:panelGrid>
    <br/>
    <h:inputHidden value="#{userController.user.id}" />
    <h:inputHidden value="#{userController.editing}" />
    <h:button value="1" onclick="return fillForm1()" />
    <h:button value="2" onclick="return fillForm2()" />
    <h:button value="3" onclick="return fillForm3()" />
    <h:commandButton value="#{msg['command.form.reset']}" action="#{userController.formReset}" />
    <h:commandButton value="#{msg['command.database.reset']}" action="#{userController.dbReset}"
                     immediate="true"  />
    <h:commandButton id="saveUpdateButtonId" value="#{userController.editing?msg['command.update']:msg['command.save']}" 
                     action="#{userController.saveUpdate}" />
  </h:form> 
</ui:composition>
