<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/templates/main_template.xhtml"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

  <ui:define name="browserTitle">#{msg['user.list.pageTitle']}</ui:define>

  <ui:define name="head"><h:outputScript name = "bookGeneration.js" /></ui:define>

  <ui:define name="content">
    <hr/>
    <ui:include src="userForm.xhtml" />
    <br/><hr/>
    <ui:include src="userList.xhtml" />
  </ui:define>

</ui:composition>
