<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:fragment rendered="#{empty userController.userList}">
      <h3>#{msg['user.list.noUsersAvailable']}</h3>
    </ui:fragment>

    <ui:fragment rendered="#{not empty userController.userList}">
      <h3>#{msg['user.list.pageTitle']}</h3>
      <h:form>
        <h:dataTable value="#{userController.userList}" var="user">
          <h:column>
            <f:facet name="header">#{msg['user.firstname.label']}</f:facet>
              #{user.firstname}
          </h:column>
          <h:column>
            <f:facet name="header">#{msg['user.lastname.label']}</f:facet>
              #{user.lastname}
          </h:column>
          <h:column>
            <h:commandLink value="#{msg['command.delete']}" action="#{userController.delete(user.id)}" />
          </h:column>
          <h:column>
            <h:commandLink value="#{msg['command.edit']}" action="#{userController.edit(user.id)}" />
          </h:column>
        </h:dataTable> 
      </h:form>
    </ui:fragment>

</ui:composition>
