<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets">
  <h:panelGroup rendered="#{not empty facesContext.messageList}">
    <div style="height: 30px"/>    
    <hr/>
    <h:messages infoStyle="color:green;font-family:consolas" 
                errorStyle="color:red;font-family:consolas" />
  </h:panelGroup>
</ui:composition>


