<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view locale="#{switcher.locale}" contentType="text/html;charset=UTF-8"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:f="http://xmlns.jcp.org/jsf/core">
  <html>
    <h:head>
      <title><ui:insert name="browserTitle" >Template Browser Title</ui:insert></title>
      <h:outputStylesheet name="/main.css" />
      <ui:insert name="head"></ui:insert> 
    </h:head>
    <h:body>

      <ui:include src="header.xhtml" />

      <ui:insert name="content" >
        <h1>Template Page Title</h1>
      </ui:insert>

      <ui:include src="footer.xhtml" />
    </h:body>
  </html>
</f:view>
