<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html" 
                xmlns:ui="http://java.sun.com/jsf/facelets">
  <h:form>
    <div id="navigation" style="display: inline-block">
      <h:link value="#{msg['home.pageTitle']}"   outcome="/index" /> |
      <h:link value="#{msg['home.testTitle']}"   outcome="/test" /> |
      <h:link value="#{msg['user.list.pageTitle']}"  outcome="/users/users" /> 
      <span style="text-align: right;font-size: xx-small;">
        <h:commandLink value="Deutsch" action="#{switcher.switchLocale('de')}" />
        <h:commandLink value="English" action="#{switcher.switchLocale('en')}" />
        <h:commandLink value="X" action="#{switcher.switchLocale('x')}" />
      </span>
    </div>
  </h:form>

</ui:composition>


